<div *ngIf="project">
  <h1>{{ project.name }}</h1>
  <div>{{ project | projectStatus }}</div>
  <div>
    <h2>Tasks</h2>
    <div *ngFor="let task of project.tasks" class="task-wrapper">
      <mat-checkbox
        [checked]="task.status | taskStatus"
        (change)="onChangeTaskStatus(task)"
        >{{ task.name }}</mat-checkbox
      >
      <mat-icon (click)="onDeleteClick(task)" class="delete-button"
        >delete</mat-icon
      >
    </div>
    <p *ngIf="project.tasks.length === 0">No Tasks</p>
    <mat-card class="example-card">
      <form>
        <mat-card-title>New Task</mat-card-title>
        <mat-card-content>
          <input
            id="name"
            type="text"
            [(ngModel)]="model.name"
            name="name"
            #name="ngModel"
            required
            minlength="4"
          />
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <mat-error *ngIf="name.errors?.['required'] && name.dirty"
              >Name is required.</mat-error
            >
            <mat-error *ngIf="name.errors?.['minlength']">
              Name must be at least 4 characters long.
            </mat-error>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            type="button"
            [disabled]="!name.valid"
            (click)="onAdd(); name.reset()"
          >
            Add
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
<a mat-flat-button color="accent" routerLink="/projects">Back</a>
